/* ==========================================================================
   Sea theme skin
   ========================================================================== */

/* Colors */
$base-color: #33ff33 !default;
$text-color: #000000 !default;
$accent-color: #33ccff !default;
$background-color: linear-gradient(45deg, #f0ffff 0%, #b0e0e6 50%, #4169e1 100%) !default;
$code-background-color: #ff6600 !default;
$border-color: #ff4949 !default;
$overlay-color: #ff6600 !default;

$serif: "宋体",DFKai-SB,Kai,Kaiti SC,KaiTi,BiauKai,\\6977\4F53,\\6977\4F53_GB2312,Songti SC,Georgia,Times,serif !default;
$sans-serif: "YouYuan","Helvetica Neue",\\5E7C\5706,幼圆,"Segoe UI",-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif !default;